# ========== Unity 기본 ==========
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/

# ========== Unity Cache ==========
[Aa]sset[Ss]tore/
[Aa]sset[Ss]toreTools/
.Packages/
.PackagesCache/
sysinfo.txt

# ========== 빌드 산출물 ==========
*.apk
*.aab
*.unitypackage
*.app
*.exe
*.xcodeproj
*.xcworkspace
.vs/
.vscode/
*.csproj
*.sln
*.tmp
*.pidb
*.booproj
*.svd
*.pdb
*.mdb

# ========== OS/IDE 특화 ==========
.DS_Store
Thumbs.db
.idea/
.vs/
*.swp
*.swo

# ========== Rider/VS Code ==========
*.user
*.userprefs

# ========== PlasticSCM (옵션) ==========
PlasticSCM/

# ========== Crash Reports ==========
sysinfo.txt

# ========== Unity Cloud Build ==========
[Uu]serSettings/EditorUserSettings.asset

# ========== Collaborate (옵션) ==========
Collab/

# ========== 강제 포함 규칙 ==========
!Assets/**
!ProjectSettings/**
!Packages/**
Assets/DownloadedAssets/RPG Pack/Materials/Bottle_blue.mat
Assets/DownloadedAssets/RPG Pack/Materials/Bottle_green.mat
Assets/DownloadedAssets/RPG Pack/Materials/Bottle_red.mat
Assets/DownloadedAssets/RPG Pack/Materials/Box_Of_Pandora.mat
ProjectSettings/URPProjectSettings.asset
Assets/DownloadedAssets/RPG Pack/Materials/Coin.mat
